version: "3"
services:
  php:
    image: php:7.4-fpm-alpine
    build: './.setup/php/'
    networks:
      - todolist
    volumes:
      - ./:/var/www
  mysql:
    image: mysql:5.6
    volumes:
      - ./.setup/mysql/data/:/var/lib/mysql/
    networks:
      - todolist
    environment:
      - MYSQL_ROOT_PASSWORD=docker
      - MYSQL_DATABASE=docker
      - MYSQL_USER=docker
      - MYSQL_PASSWORD=docker
    ports:
      - "3307:3306"
  nginx:
     image: nginx:stable-alpine
     build: './.setup/nginx/'
     depends_on:
       - php
     ports:
       - "8443:443"
       - "8001:80"
     networks:
       - todolist
     volumes:
       - ./:/var/www
       - ./.setup/nginx/conf.d/:/etc/nginx/conf.d/
networks:
  todolist:
